@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card {
       --glow-color: rgb(176, 243, 255);
       border: .25em  var(--glow-color);
  
       color: var(--glow-color);
       box-shadow: 0 0 1em .25em var(--glow-color),
       0 0 4em 1em var(--glow-spread-color),
       inset 0 0 .75em .25em var(--glow-color);

    /* background-image: linear-gradient(163deg,rgba(123, 191, 255, 0.781)0%, rgb(176, 243, 255) 100%); */
    border-radius: 20px;
    transition: all .3s;
   }
   
   .custom-card2 {
   
    background-color: #1a1a1a;
    border-radius: 20px;
    transition: all .2s;
   }
   
   .custom-card2:hover {
    transform: scale(0.98);
    border-radius: 20px;
   }
   
   .custom-card:hover {
    box-shadow: 0px 0px 30px 1px rgb(206, 241, 255);
   }

  body {
    
    background-color: rgb(38, 38, 38);
    background-image: radial-gradient(at 50% 39%, rgb(15, 23, 42) 0, transparent 54%), radial-gradient(at 82% 65%, rgb(23, 23, 23) 0, transparent 26%), radial-gradient(at 53% 23%, rgb(107, 114, 128) 0, transparent 27%), radial-gradient(at 23% 4%, rgb(55, 65, 81) 0, transparent 25%), radial-gradient(at 68% 37%, rgb(67, 56, 202) 0, transparent 45%);
  
   }


   .card-project:hover {
    --glow-color: rgb(176, 243, 255);
    --glow-spread-color: rgba(123, 191, 255, 0.781);
    --enhanced-glow-color: rgb(206, 241, 255);
    --btn-color: rgb(66, 61, 136);
    border: .25em solid var(--glow-color);
  
    color: var(--glow-color);

   
    background-color: var(--btn-color);
    border-radius: 1em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--glow-color);
 
    
    transition: all 0.3s;
   }
